body {
    font-family: serif;
}

p {
    font-size: 12px;
}

.article-default {
    text-align: center;
}

.navbar {
    display: flex;
    border: 1px solid red;
}

.nav-left {
    left: 15px;
    float: left;
}

.nav-left-items {
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding-right: 20px;
}

.nav-right {
    float: right;
}

.nav-right-items {
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
}

.header {
    border: 1px solid yellow;
}

.logo {
    display: block;
    border: 1px solid blue;
    background-image: url("images/nyt-logo-379x64.png");
    background-repeat: no-repeat;
    height: 66px;
    width: 50%;
    margin: 0px auto;
    justify-content: center;
}

.header-info {
    display: flex;
    margin: auto;
    width: 50%;
    text-align: center;
    justify-content: center;
}

.header-info-item {
    padding-left: 5px;
    padding-right: 5px;
}

.topics-list {
    position: relative;
    margin: 10px;
    display: block;
}

.topics-list-item {
    text-transform: capitalize;
    display: inline-block;
    padding: 0 4px;
    font-size: 12px;
    margin: 5px 2px 5px 0;
}

.navigation {
    margin-top: 5px;
    border-top: 2px solid black;
    border-bottom: .5px solid lightgrey;
}

.left-column {
    float: left;
    width: 60%;
    margin-top: 8px;
}

#left-news {
    border-right: .5px solid lightgrey;
    width: 30%;
    padding: 5px;
    margin: 0px auto;
    float: left;
}

h2 {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    font-display: serif;
    font-family: serif;
    margin-top: auto;
}

h4 {
    font-size: 10px;
    color: gray;
}

#uppercase {
    text-transform: uppercase;
}

.article-main-points {
    font-size: 12px;
}

#right-news {
    border-bottom: 3px solid lightgrey;
    float: right;
    width: 66%;
    margin: 0px 12px;
}

.img-container {
    background: url(images/mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
}

h3 {
    font-size: 22px;
    text-transform: capitalize;
    text-align: center;
    font-family: serif;
}

.article-author {
    font-size: 10px;
    color: grey;
}

.right-column {
    position: relative;
    float: right;
    width: 40%;
    border: 1px solid;
    height: 100vh;
    margin-top: 8px;
}

.text-center {
    text-align: center;
}

.opinion-left {
    float: left;
    width: 46%;
    border: 1px solid red;
}

.opinion-right {
    float: right;
    width: 46%;
    border: 1px solid red;
}

.vt-div {
    width: .5px;
    height: 60%;
    background-color: lightgrey;
    margin: 0px auto;
}