* {
    box-sizing: border-box;
}

body {
    font-family: serif;
}

[class*="col-"] {
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

nav {
    padding: 0px;
}

p {
    font-size: 12px;
}

.article-default {
    text-align: center;
}

.navbar {
    display: flex;
    font-family: sans-serif;
}

.nav-left-items {
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding-right: 20px;
}

.nav-right-items {
    padding: 0px 8px 0px 8px;
    float: right;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    display: inline-block;
}

.header {
    border: 1px solid yellow;
}

.logo {
    display: block;
    height: 66px;
    width: 50%;
    margin: 0px auto;
    justify-content: center;
}

.logo img {
    display:block;
    margin: 0px auto;
}

.header-info {
    list-style-type: none;
    display: flex;
    margin: auto;
    width: 50%;
    text-align: center;
    justify-content: center;
    padding-left: 0;
}

.header-info-item {
    padding-left: 5px;
    padding-right: 5px;
}

.topics-list {
    position: relative;
    margin: 10px;
    display: block;
}

.topics-list-item {
    text-transform: capitalize;
    display: inline-block;
    padding: 0 4px;
    font-size: 12px;
    margin: 5px 2px 5px 0;
}

.navigation {
    margin-top: 5px;
    border-top: 2px solid black;
    border-bottom: .5px solid lightgrey;
}

#left-news {
    border-right: .5px solid lightgrey;
    margin: 0px auto;
    padding-right: 5px;
}

.left-column {
    height: 100vh;
}

.second-column {
    padding: 0px 4px 0px 4px;
}

h2 {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    font-display: serif;
    font-family: serif;
    margin-top: auto;
}

h4 {
    font-size: 10px;
    color: gray;
}

#uppercase {
    text-transform: uppercase;
}

.article-main-points {
    font-size: 12px;
}

#right-news {
    border-bottom: 3px solid lightgrey;
}

.img-container {
    background: url(images/mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
}

h3 {
    font-size: 22px;
    text-transform: capitalize;
    text-align: center;
    font-family: serif;
    margin: 0px auto;
}

.article-author {
    font-size: 10px;
    color: grey;
}

.right-column {
    position: relative;
    height: 100vh;
    border-bottom: 3px solid lightgrey;
}

.text-center {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
}

/* other articles */

.other-articles {
    border-top: 3px lightgrey;
    border-bottom: .5px lightgrey;
    border-style: double none solid none;
    height: 75px;
    clear: both;
    padding-top: 5px;
}

.bold-it {
    font-weight: bold;
    font-size: 14px;
}

.other-article-text {
    margin: 0;
    padding: 0;
}